@model IEnumerable<CrudLivros.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Cadastrar Novo Livro</a>
</p>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                <p>Titulo</p>
            </th>
            <th>
                <p>Autor</p>
            </th>
            <th>
                <p>Ano</p>
            </th>
            <th>
                <p>Qtd. de Páginas</p>
            </th>
            <th>
                <p>Sinapse</p>
            </th>
            <th>
                <p>Categoria</p>
            </th>
            <th>
                <p>Editora</p>
            </th>
            <th>
                <p>Edição</p>
            </th>
            <th>
                <p>ISBN</p>
            </th>
            <th>
                <p>Código de Barras</p>
            </th>
            <th>
                <p>Inativo</p>
            </th>
            <th>
                <p>Alterar</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                    @item.ano.Year
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdPag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sinapse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js">
</script>
<script>
    var js = jQuery.noConflict(true)
    js(document).ready(function () {
        js('#myTable').DataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "Nenhum registro encontrado",
                "sInfo": "Mostrando _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros no total)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            }
        });
    });
   
</script>
